Django==4.2.7
djangorestframework
django-crispy-forms
scikit-learn
numpy
pandas
nltk
reportlab
Pillow
python-dotenv
django
python-dotenv
llama-index-core
llama-index-readers-file
llama-parse
openai
nltk
scikit-learn
django
python-dotenv
llama-index-core
llama-index-readers-file
llama-parse
nltk
crispy_bootstrap4
crispy_forms
crispy_bootstrap4
django-crispy-forms
crispy-bootstrap4
